.git
**/build
.dockerignore
**/.env
**/postgres-data
**/__pycache__
.vscode
.gitignore
.github/
.pytest_cache/
__pycache__/
docker-compose*.yaml
Dockerfile
githooks/
git*
docs/
helm/
**/venv
**/target/
**/logs/
*.bak
**/.venv
.env
.env.example
.github/
Makefile
